* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

.gallery {
  width: 1400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 48px;
  column-gap: 24px;

  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

.item {
  flex-basis: calc((360px - 2 * 24px) / 3);
}

.item-image {
  display: block;
  width: 360px;
  height: 300px;
}

#name-input {
  width: 360px;
  height: 40px;
  border-radius: 4px;
}

#name-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding-left: 16px;
}

.login-form {
  display: flex;
  flex-direction: column;
  border: 1px solid #212121;
  border-radius: 8px;
  width: 408px;
  padding: 24px;
}

.login-form label {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.login-form label input {
  width: 360px;
  height: 40px;
  margin-bottom: 16px;
  border-radius: 4px;
}

.login-form button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 86px;
  height: 40px;
  background: #4e75ff;
  outline: none;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

.widget {
  border-radius: 8px;
  padding: 100px 88px;
  width: 345px;
  height: 280px;
}

.widget p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.change-color {
  border-radius: 8px;
  padding: 8px 16px;
  width: 148px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4e75ff;
  outline: none;
  border: none;
}

#controls,
#boxes {
  margin: 0 auto;
  border-radius: 8px;
  padding: 32px;
  background: #f6f6fe;
}

#controls {
  display: flex;
  gap: 16px;
  width: 486px;
  margin-bottom: 16px;
}

#controls input {
  width: 150px;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 8px;
  padding: 8px 16px;
  outline: none;
}

#boxes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 44px;
}

button[data-create],
button[data-destroy] {
  width: 120px;
  border-radius: 8px;
  padding: 8px 16px; 
  color: #fff;
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
}

button[data-create] {
  background: #4e75ff;
}

button[data-destroy] {
  background: #ff4e4e;
}